@model FoodApp.ViewModels.FutarRendelesKezelViewModel

@{
    ViewData["Title"] = "Futár Kezelése";
}

<div class="container testimonial-group">
    <div id="sourcee" class="row text-center">
        @for (int i = 0; i < 15; i++)
        {
            <div class="col-md-3 source">
                <div class="card">
                    <div class="card-body">
                        <p>valami</p>
                    </div>
                </div>
            </div>  
         }
    </div>
</div>
<br>
<br>
<div class="container testimonial-group">
    <div id="targete" class="row text-center">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <p>valami</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <p>valami</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on('click', '.col-md-3.source', function () {
        $("#targete").append(this);
        $(this).removeClass("source").addClass("target");
        return false;
    });
    $(document).on('click', '.col-md-3.target', function () {
        $("#sourcee").append(this);
        $(this).removeClass("target").addClass("source");
        return false;
    });
</script>