@model IEnumerable<FoodApp.Models.VendegCim>
@{
    ViewData["Title"] = "Rendelés";
}
@{
    var selectList = new SelectList(
        new List<SelectListItem>
        {
            new SelectListItem {Text = "Házhozszállítás", Value = "1"},
            new SelectListItem {Text = "Elvitelre", Value = "0"},
                                }, "Value", "Text");
}
<br>
<div class="img-thumbnail">
    <a asp-controller="VendegCims" asp-action="Create">Új cím létrehozása!</a>
    <br><br />
    <div class="row">
        <div class="container-fluid">
            <form asp-action="Rendeles">
                <div class="btn-group-vertical" role="group">
                    @foreach (var item in Model)
                    {
                        <label class="btn btn-outline-primary">
                            <input class="btn-check" type="radio" name="Cimid" value="@item.VendegCimId" checked />
                            @item.VezetekNev @item.KeresztNev; @item.Varos
                        </label>
                    }
                </div>

                <!-- Button trigger modal -->
                <br>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                    Megrendelem!
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Rendelés megerősítése</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Mégsem">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label>Átvétel módja:</label>
                                <select class="form-control" name="Pickup" asp-items="selectList"></select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Mégsem</button>
                                <input type="submit" value="Megrendelem!" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>