@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Kezdőképernyő";
}

<div class="img-thumbnail">
    <h1 class="display-4">Ételrendelés</h1>
    <p>A weboldalon ételrendeléssel kapcsolatos ügyeket tud intézni.</p>
    <picture><img src="~/css/evosKep.png" alt="Emberek esznek." width="1100" height="725" /> </picture>
    @if ((await AuthorizationService.AuthorizeAsync(User, "Étteremeknek")).Succeeded)
    {<p>Étteremként van bejelentkezve.</p>}
    @if ((await AuthorizationService.AuthorizeAsync(User, "Vendégeknek")).Succeeded)
    {<p>Vendégként van bejelentkezve.</p>}
    @if ((await AuthorizationService.AuthorizeAsync(User, "Futároknak")).Succeeded)
    {<p>Futárként van bejelentkezve.</p>}
</div>