@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Kezdőképernyő";
}

<div class="text-center">
    <h1 class="display-4">Ételrendelés</h1>
    <p>A weboldalon ételrendeléssel kapcsolatos ügyeket tud intézni.</p>
    @if ((await AuthorizationService.AuthorizeAsync(User, "Étteremeknek")).Succeeded) { <p>Valamit csak írok ide is.</p>}
    
</div>
