@model FoodApp.Models.EtteremCim

@{
    ViewData["Title"] = "CimKezel";
}

<h1>Edit</h1>

<h4>EtteremCim</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CimKezel">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EtteremNev" class="control-label"></label>
                <input asp-for="EtteremNev" class="form-control" />
                <span asp-validation-for="EtteremNev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iranyitoszam" class="control-label"></label>
                <input asp-for="Iranyitoszam" class="form-control" />
                <span asp-validation-for="Iranyitoszam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Varos" class="control-label"></label>
                <input asp-for="Varos" class="form-control" />
                <span asp-validation-for="Varos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cim" class="control-label"></label>
                <input asp-for="Cim" class="form-control" />
                <span asp-validation-for="Cim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nyitas" class="control-label"></label>
                <input asp-for="Nyitas" class="form-control" />
                <span asp-validation-for="Nyitas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zaras" class="control-label"></label>
                <input asp-for="Zaras" class="form-control" />
                <span asp-validation-for="Zaras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
